- specific_includes do
  = stylesheet_link_tag 'home'
#virginie_blancher
  %span Virginie Blancher
%div#links
  - [ 'couleur_bd',
      'illustration',
      'graphisme',
      'chiyogami',
      'croquis' ].each do |section|
    = link_to(portfolio_path(section), :id => "to_#{section}") do
      %span= t(".links.#{section}")
  = link_to(contacts_path, :id => 'to_contact') do
    %span= t(".links.contact")
  = link_to('https://plus.google.com/u/0/photos/109435610364015484658/albums', :id => 'to_inspirations') do
    %span= t('.links.inspirations')
  = link_to(bio_path, :id => "to_bio_et_cv") do
    %span= t(".links.bio_et_cv")
  = link_to(external_links_path, :id => "to_liens") do
    %span= t(".links.liens")
