- specific_includes do
  = stylesheet_link_tag 'home'
%div#right-column
  %div#welcome_title
    %span t('.welcome')
  %div#welcome
    %span.left_bracket
    %span.right_bracket
    = static_content_tag("home:welcome", :div)
  = static_content_tag("home:intellectual_property", :div,
                       :id => 'intellectual_property')
  %div#links
    - [ 'couleur_bd',
        'photographie',
        'illustration',
        'graphisme',
        'chiyogami',
        'croquis',
        'bio_et_cv' ].each do |section|
      = link_to(portfolio_path(section), :id => "to_#{section}") do
        %span= t(".links.#{section}")
    = link_to(external_links_path, :id => "to_liens") do
      %span= t(".links.liens")
