Nouveau contact :
* #{t('activerecord.attributes.contact.first_name')}: #{@contact.first_name}
* #{t('activerecord.attributes.contact.last_name')}: #{@contact.last_name}
* #{t('activerecord.attributes.contact.company')}: #{@contact.company}
* #{t('activerecord.attributes.contact.phone')}: #{@contact.phone}
* #{t('activerecord.attributes.contact.email')}: #{@contact.email}
* #{t('activerecord.attributes.contact.reason')}: #{@contact.reason}
* #{t('activerecord.attributes.contact.created_at')}: #{@contact.created_at}
