- title breadcrumb(@achievement || params[:section])
- specific_includes do
  = stylesheet_link_tag 'portfolio'
  = javascript_include_tag 'portfolio'
= achievement_section_tag(params[:section], @achievements)
%div#achievement
  - unless @achievement.nil?
    %div#description= description_with_outer_links @achievement
    = image_tag @achievement.exhibit.url(:showcase), :id => 'exhibit', :alt => @achievement.title
