!!! 5
%html(lang='fr')
  %head
    %title Crazy-Pooh - Administration
    = stylesheet_link_tag 'jquery-ui/smoothness/jquery-ui-1.8.9.custom.css'
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'jquery-1.5.1.min.js'
    = javascript_include_tag 'jquery-ui/jquery-ui-1.8.9.custom.min.js'
    = javascript_include_tag 'rails'
    = csrf_meta_tag
  %body
    %header
      %nav
        - if admin?
          %span#resources
            = link_to StaticContent.human_name, admin_static_contents_path
            = link_to ExternalLink.human_name, admin_external_links_path
            = link_to Achievement.human_name, admin_achievements_path
          = link_to t('.header.logged_as', :login => user.login), edit_admin_user_path
          = link_to t('.header.logout'), admin_logout_path
        - else
          = link_to t('.header.login'), admin_login_path
      %h1= yield(:title)
    %div#notice= flash[:notice]
    = yield
