!!! 5
%html(lang='fr')
  %head
    %title Crazy-Pooh
    = render :partial => 'layouts/common_includes'
    = stylesheet_link_tag 'front'
    = javascript_include_tag 'application'
    - if admin?
      = stylesheet_link_tag 'admin'
      = javascript_include_tag 'admin'
    = yield(:specific_includes)
    = csrf_meta_tag
  %body
    %div#main
      %div#header
        %div#session
          - if admin?
            = link_to t('layouts.admin.header.logout'), admin_logout_path, :id => 'logout_link'
          - else
            = render :partial => 'admin/user_session/form'
        = link_to(t(".header.contact"), contacts_path, :id => 'contact_link')
      - unless (title_content = yield(:title)).blank?
        %div#breadcrumb{ :class => yield(:section) }
          %h1
            %span= title_content
          = link_to(t(".header.back").upcase, root_path)
      = yield

      %div#footer
        #p.footer-text
          = [ t('.footer.copyright'),
              t('.footer.credits.design', :name => 'Virginie Blancher'),
              t('.footer.credits.integration', :name => 'Isabelle Lechat'),
              t('.footer.credits.code', :name => 'Michel Belleville'),
              link_to(t('.footer.sitemap'), sitemap_url),
              link_to(t('.footer.contact'), contacts_url),
              t('.footer.optimized') ].join(' - ').html_safe
          
