!!! 5
%html(lang='fr')
  %head
    %title Crazy-Pooh
    = render :partial => 'layouts/common_includes'
    = stylesheet_link_tag 'front'
    - if admin?
      = stylesheet_link_tag 'admin'
      = javascript_include_tag 'admin'
    = yield(:specific_includes)
    = csrf_meta_tag
  %body
    %div#main
      %div#header
        = link_to("CONTACT", "#FIXME", :id => 'contact_link')
      - unless (title_content = yield(:title)).blank?
        %div#breadcrumb{ :class => yield(:section) }
          %h1
            %span= title_content
          = link_to(t(".header.back"), root_path)
      = yield

      %div#footer
        #p.footer-text
          2010©Toute reproduction interdite -
          Design : Virginie Blancher -
          Integration : Isabelle Lechat -
          Programmation : Michel Belleville -
          = link_to("Plan", "#FIXME") + "-"
          = link_to("Contact", "#FIXME") + "-"
          Site optimisé en 1024 x 768
